In [1]:
import pandas as pd 
import numpy as np

In [2]:
# 용인시 인구현항 데이터 불러오기 
path = 'C:/bigcon/input/additional_dataset/'
p_df = pd.read_csv(path + '용인시 연령별 인구 현황.csv', encoding = 'cp949')
p_df.head(10)

,읍면동 연령별 인구현황(내국인),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 119,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127,Unnamed: 128
0,용인시,2021.6.30.기준,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,연령별,용 인 시,NaN,NaN,처 인 구,NaN,NaN,기 흥 구,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,계,남,여,계,남,여,계,남,여,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,합 계,"1,077,826","534,946","542,880","260,877","134,045","126,832","439,791","217,094","222,697",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10대 미만,"97,820","50,041","47,779","20,710","10,564","10,146","41,140","21,151","19,989",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0세,"5,964","3,064","2,900","1,341",686,655,"2,459","1,276","1,183",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1세,"6,942","3,500","3,442","1,519",773,746,"2,875","1,454","1,421",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2세,"7,709","3,960","3,749","1,727",898,829,"3,208","1,657","1,551",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3세,"8,555","4,369","4,186","1,879",965,914,"3,627","1,869","1,758",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4세,"9,669","5,028","4,641","2,043","1,054",989,"4,033","2,106","1,927",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
import math 

# 20 ~ 60대 인구만 추출
p_df_refine = p_df.drop([0,2], axis = 0)

nm_list = p_df_refine.loc[1].tolist()
new_list = []
for i in nm_list:
    if type(i) != str :
        pass
    else:
        new_list.append(i)
print(new_list)

p_df_refine.columns = nm_list
p_df_refine_v2 = p_df_refine.loc[:,new_list].drop([1],axis=0)
p_df_refine_v3 = p_df_refine_v2[(p_df_refine_v2[' 연령별 '] == ' 20대 ') | (p_df_refine_v2[' 연령별 '] == ' 30대 ') | (p_df_refine_v2[' 연령별 '] == ' 40대 ')
              | (p_df_refine_v2[' 연령별 '] == ' 50대 ') | (p_df_refine_v2[' 연령별 '] == ' 60대 ')]

[' 연령별 ', ' 용 인 시 ', ' 처 인 구 ', ' 기 흥 구 ', ' 수 지 구 ', ' 포 곡 읍 ', ' 모 현 읍 ', ' 이 동 읍 ', ' 남 사 읍 ', ' 원 삼 면 ', ' 백 암 면 ', ' 양 지 면 ', ' 중 앙 동 ', ' 역 삼 동 ', ' 유 림 동 ', ' 동 부 동 ', ' 신 갈 동 ', ' 영덕1동 ', ' 영덕2동 ', ' 구 갈 동 ', ' 상 갈 동 ', ' 보 라 동 ', ' 기 흥 동 ', ' 서 농 동 ', ' 구 성 동 ', ' 마 북 동 ', ' 동백1동 ', ' 동백2동 ', ' 동백3동 ', ' 상 하 동 ', ' 보 정 동 ', ' 풍 덕 천 1 동 ', ' 풍 덕 천 2 동 ', ' 신 봉 동 ', ' 죽 전 1 동 ', ' 죽 전 2 동 ', ' 동 천 동 ', ' 상 현 1 동 ', ' 상 현 2 동 ', ' 성 복 동 ']

In [4]:
p_df_refine_v4 = p_df_refine_v3.drop([' 용 인 시 ',' 처 인 구 ',' 기 흥 구 ',' 수 지 구 '], axis=1)
col_list = p_df_refine_v4.columns.tolist()[1:]

p_df_refine_v4 = p_df_refine_v4.apply(lambda x: x.str.strip(), axis = 1) # 앞뒤 공백 제거 
p_df_refine_v4 = p_df_refine_v4.apply(lambda x: x.str.replace(',',''), axis = 1) # 쉼표 제거
p_df_refine_v4 = p_df_refine_v4.loc[:,col_list].apply(lambda x: x.astype('float32'), axis = 1) # 실수형으로 자료형 변경 
p_df_refine_v4.loc[5] = p_df_refine_v4.loc[:,col_list].sum().tolist()
p_df_refine_v4.reset_index(drop=True, inplace=True)
p_df_refine_v4.insert(0, '연령별', ['20대','30대','40대','50대','60대','합계']) # 원하는 위치에 열 삽입 
p_df_refine_v4 = p_df_refine_v4.transpose()
p_df_refine_v4

                  0       1        2       3       4        5
연령별             20대     30대      40대     50대     60대       합계
 포 곡 읍       4790.0  3919.0   5956.0  5966.0  3928.0  24559.0
 모 현 읍       3481.0  3072.0   4519.0  4761.0  3820.0  19653.0
 이 동 읍       2175.0  2354.0   3317.0  3715.0  3106.0  14667.0
 남 사 읍       1867.0  4102.0   4302.0  3059.0  3023.0  16353.0
 원 삼 면        724.0   719.0   1063.0  1576.0  1782.0   5864.0
 백 암 면        909.0   743.0    989.0  1557.0  1886.0   6084.0
 양 지 면       2490.0  2436.0   3123.0  3417.0  2814.0  14280.0
 중 앙 동       4414.0  3207.0   3865.0  4217.0  3172.0  18875.0
 역 삼 동       7163.0  7376.0   7748.0  6443.0  4039.0  32769.0
 유 림 동       4921.0  4481.0   6762.0  6251.0  3624.0  26039.0
 동 부 동       1836.0  1401.0   1946.0  2544.0  2109.0   9836.0
 신 갈 동       5044.0  6074.0   6551.0  6165.0  4152.0  27986.0
 영덕1동        3825.0  4539.0   5934.0  4931.0  2688.0  21917.0
 영덕2동        2467.0  3164.0   2723.0  2807.0  1785.0  12946.0
 구 갈 동       6625.0  7632.0   7092.0  6603.0  3742.0  31694.0
 상 갈 동       1956.0  1884.0   2342.0  2282.0  1351.0   9815.0
 보 라 동       4040.0  3753.0   6420.0  5301.0  3480.0  22994.0
 기 흥 동       2573.0  2781.0   3864.0  3538.0  2774.0  15530.0
 서 농 동       5244.0  4482.0   4488.0  3221.0  1943.0  19378.0
 구 성 동       4377.0  4075.0   7589.0  5953.0  4397.0  26391.0
 마 북 동       4088.0  3997.0   5335.0  5156.0  3805.0  22381.0
 동백1동        3604.0  3314.0   7788.0  4870.0  2213.0  21789.0
 동백2동        3247.0  2325.0   6157.0  4413.0  2090.0  18232.0
 동백3동        2213.0  3013.0   4949.0  2743.0  2064.0  14982.0
 상 하 동       3430.0  2755.0   4357.0  4515.0  2834.0  17891.0
 보 정 동       4197.0  4027.0   7258.0  5426.0  3539.0  24447.0
 풍 덕 천 1 동   5362.0  6228.0   5985.0  5447.0  3771.0  26793.0
 풍 덕 천 2 동   4943.0  6100.0   8845.0  5870.0  2530.0  28288.0
 신 봉 동       4084.0  3934.0   7853.0  5839.0  3512.0  25222.0
 죽 전 1 동     7969.0  6891.0  10647.0  8921.0  5365.0  39793.0
 죽 전 2 동     2758.0  3214.0   3011.0  2873.0  1827.0  13683.0
 동 천 동       5550.0  7725.0   9591.0  7182.0  4803.0  34851.0
 상 현 1 동     6307.0  6687.0   9323.0  7111.0  4209.0  33637.0
 상 현 2 동     3844.0  4118.0   6446.0  5150.0  3122.0  22680.0
 성 복 동       5810.0  6114.0  10552.0  8054.0  5717.0  36247.0

In [5]:
p_df_refine_v4.index = p_df_refine_v4.index.str.strip()
p_df_refine_v4.index = p_df_refine_v4.index.str.replace(' ','')
p_df_refine_v4.index

Index(['연령별', '포곡읍', '모현읍', '이동읍', '남사읍', '원삼면', '백암면', '양지면', '중앙동', '역삼동',
       '유림동', '동부동', '신갈동', '영덕1동', '영덕2동', '구갈동', '상갈동', '보라동', '기흥동', '서농동',
       '구성동', '마북동', '동백1동', '동백2동', '동백3동', '상하동', '보정동', '풍덕천1동', '풍덕천2동',
       '신봉동', '죽전1동', '죽전2동', '동천동', '상현1동', '상현2동', '성복동'],
      dtype='object')

In [6]:
p_df_refine_v4

            0       1        2       3       4        5
연령별       20대     30대      40대     50대     60대       합계
포곡읍    4790.0  3919.0   5956.0  5966.0  3928.0  24559.0
모현읍    3481.0  3072.0   4519.0  4761.0  3820.0  19653.0
이동읍    2175.0  2354.0   3317.0  3715.0  3106.0  14667.0
남사읍    1867.0  4102.0   4302.0  3059.0  3023.0  16353.0
원삼면     724.0   719.0   1063.0  1576.0  1782.0   5864.0
백암면     909.0   743.0    989.0  1557.0  1886.0   6084.0
양지면    2490.0  2436.0   3123.0  3417.0  2814.0  14280.0
중앙동    4414.0  3207.0   3865.0  4217.0  3172.0  18875.0
역삼동    7163.0  7376.0   7748.0  6443.0  4039.0  32769.0
유림동    4921.0  4481.0   6762.0  6251.0  3624.0  26039.0
동부동    1836.0  1401.0   1946.0  2544.0  2109.0   9836.0
신갈동    5044.0  6074.0   6551.0  6165.0  4152.0  27986.0
영덕1동   3825.0  4539.0   5934.0  4931.0  2688.0  21917.0
영덕2동   2467.0  3164.0   2723.0  2807.0  1785.0  12946.0
구갈동    6625.0  7632.0   7092.0  6603.0  3742.0  31694.0
상갈동    1956.0  1884.0   2342.0  2282.0  1351.0   9815.0
보라동    4040.0  3753.0   6420.0  5301.0  3480.0  22994.0
기흥동    2573.0  2781.0   3864.0  3538.0  2774.0  15530.0
서농동    5244.0  4482.0   4488.0  3221.0  1943.0  19378.0
구성동    4377.0  4075.0   7589.0  5953.0  4397.0  26391.0
마북동    4088.0  3997.0   5335.0  5156.0  3805.0  22381.0
동백1동   3604.0  3314.0   7788.0  4870.0  2213.0  21789.0
동백2동   3247.0  2325.0   6157.0  4413.0  2090.0  18232.0
동백3동   2213.0  3013.0   4949.0  2743.0  2064.0  14982.0
상하동    3430.0  2755.0   4357.0  4515.0  2834.0  17891.0
보정동    4197.0  4027.0   7258.0  5426.0  3539.0  24447.0
풍덕천1동  5362.0  6228.0   5985.0  5447.0  3771.0  26793.0
풍덕천2동  4943.0  6100.0   8845.0  5870.0  2530.0  28288.0
신봉동    4084.0  3934.0   7853.0  5839.0  3512.0  25222.0
죽전1동   7969.0  6891.0  10647.0  8921.0  5365.0  39793.0
죽전2동   2758.0  3214.0   3011.0  2873.0  1827.0  13683.0
동천동    5550.0  7725.0   9591.0  7182.0  4803.0  34851.0
상현1동   6307.0  6687.0   9323.0  7111.0  4209.0  33637.0
상현2동   3844.0  4118.0   6446.0  5150.0  3122.0  22680.0
성복동    5810.0  6114.0  10552.0  8054.0  5717.0  36247.0

In [7]:
# 파일 내보내기

# p_df_refine_v4.to_csv(path + 'population.csv', encoding = 'cp949')